apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  type: ClusterIP # Internal to the cluster
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
