apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend-container
        image: yourdockerhubusername/learnerreportcs_frontend:latest # Replace with your actual image
        ports:
        - containerPort: 80 # Assuming Nginx serves the React app on port 80
        env:
        - name: REACT_APP_API_URL
          value: "http://backend-service:5000" # URL to the backend service
